.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  max-width: 90vw;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

    background-color: #eeeeee;
  } 
}
