
.drawing-overlay {
  position: relative;
}
.drawing-actions {
  position: absolute;
  top: -17px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}